<%= image_tag attachments['logo.png'].url, alt: 'Logo' %>
<h2>Notice from Shrtnr:</h2>
<p><%= @user.email %></p>
<p>
  Your account settings have been successfully updated.
</p>
<p>Have a great day!</p>
